$fontMedium: 1.555em;
$fontStandard: "Courier New", Courier, monospace;

.GameApp {
  font-family: $fontStandard;
  text-align: center;
  font-size: $fontMedium;
}

a {
  margin: 0 1em;
}

li {
  list-style-type: none;
}

p {
  background-color: transparent;
  color: black;
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  border: 1px solid;
  margin-right: 0.25rem;
  display: inline-block;

  &:hover {
    background-color: black;
    color: white;
  }
}

.box {
  background-color: #ededed;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: #444444;
  font-size: 3em;
}

.content {
  &-true {
    background-color: green;
    color: white;
  }
  &-false {
    background-color: darkred;
    color: white;
  }
}

.active {
  color: white;
}
